##############################################
# Alles ignorieren                               # * bedeutet alles
##############################################
*

##############################################
# Verzeichnisse wieder erlauben
##############################################
!*/

##############################################
# Ordner ignorieren
##############################################
# /.Releases/
# *.Releases/
# !*/.Releases/
# /.aLT/
# *.aLT/
# !*/.aLT/

##############################################
# Verzeichnisse wieder erlauben                  # !*/Unterordner/
##############################################
!*/.docs/
!*/.github/ISSUE_TEMPLATE/
!*/.github/workflows/


##############################################
# Ausnahme: diese Dateien NICHT ignorieren
##############################################
# Beispiel:
# - für Dateien in Unterordnern                  # !/Pfad/zur/Datein.txt
# - für einzelne Dateien                         # !Datein.txt
##############################################
!/.docs/anleitung.pdf
!/.github/ISSUE_TEMPLATE/bug_report.md
!/.github/ISSUE_TEMPLATE/feature_request.md
!/.github/ISSUE_TEMPLATE/idea.md
!/.github/ISSUE_TEMPLATE/task.md
!/.github/PULL_REQUEST_TEMPLATE.md
!/.gitattributes
!/.gitignore
!/LICENSE
!/README.md
